

.example-header {
  background: #3D4351;
  color: #FFF;
  font-weight: 300;
  padding: 3em 1em;
  text-align: center;
}
.example-header h1 {
  color: #FFF;
  font-weight: 500;
  margin-bottom: 20px;
}
.example-header p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

.container-fluid-education .row {
  padding: 0 0 4em 0;
}
.container-fluid-education .row:nth-child(even) {
  background: #F1F4F5;
}

.example-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  border-bottom: 1px solid #E4EAEC;
}
.example-title p {
  margin: 0 auto;
  font-size: 16px;
  max-width: 400px;
}

/*==================================
    timeline-education
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline-education {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timeline-education h1, .timeline-education h2, .timeline-education h3, .timeline-education h4, .timeline-education h5, .timeline-education h6 {
  line-height: inherit;
}

/*----- timeline-education ITEM -----*/
.timeline-education-item {
  padding-left: 40px;
  position: relative;
}
.timeline-education-item:last-child {
  padding-bottom: 0;
}

/*----- timeline-education INFO -----*/
.timeline-education-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}

/*----- timeline-education MARKER -----*/
.timeline-education-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-education-marker:before {
  background: #FF6B6B;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-education-marker:after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-education-item:last-child .timeline-education-marker:after {
  content: none;
}

.timeline-education-item:not(.period):hover .timeline-education-marker:before {
  background: transparent;
  border: 3px solid #FF6B6B;
}

/*----- timeline-education CONTENT -----*/
.timeline-education-content {
  padding-bottom: 40px;
}
.timeline-education-content p:last-child {
  margin-bottom: 0;
}

/*----- timeline-education PERIOD -----*/
.period {
  padding: 0;
}
.period .timeline-education-info {
  display: none;
}
.period .timeline-education-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #157bbf;
  border-bottom: 3px solid #CCD5DB;
}
.period .timeline-education-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.period .timeline-education-content {
  padding: 40px 0 70px;
}
.period .timeline-education-title {
  margin: 0;
}

/*----------------------------------------------
    MOD: timeline-education SPLIT
----------------------------------------------*/
@media (min-width: 768px) {
  .timeline-education-split .timeline-education, .timeline-education-centered .timeline-education {
    display: table;
  }
  .timeline-education-split .timeline-education-item, .timeline-education-centered .timeline-education-item {
    display: table-row;
    padding: 0;
  }
  .timeline-education-split .timeline-education-info, .timeline-education-centered .timeline-education-info,
  .timeline-education-split .timeline-education-marker,
  .timeline-education-centered .timeline-education-marker,
  .timeline-education-split .timeline-education-content,
  .timeline-education-centered .timeline-education-content,
  .timeline-education-split .period .timeline-education-info,
  .timeline-education-centered .period .timeline-education-info {
    display: table-cell;
    vertical-align: top;
  }
  .timeline-education-split .timeline-education-marker, .timeline-education-centered .timeline-education-marker {
    position: relative;
  }
  .timeline-education-split .timeline-education-content, .timeline-education-centered .timeline-education-content {
    padding-left: 30px;
  }
  .timeline-education-split .timeline-education-info, .timeline-education-centered .timeline-education-info {
    padding-right: 30px;
  }
  .timeline-education-split .period .timeline-education-title, .timeline-education-centered .period .timeline-education-title {
    position: relative;
    left: -45px;
  }
}

/*----------------------------------------------
    MOD: timeline-education CENTERED
----------------------------------------------*/
@media (min-width: 992px) {
  .timeline-education-centered,
  .timeline-education-centered .timeline-education-item,
  .timeline-education-centered .timeline-education-info,
  .timeline-education-centered .timeline-education-marker,
  .timeline-education-centered .timeline-education-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline-education-centered .timeline-education-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-education-centered .timeline-education-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-education-centered .timeline-education-info,
  .timeline-education-centered .timeline-education-content {
    width: 50%;
  }
  .timeline-education-centered > .timeline-education-item:nth-child(odd) .timeline-education-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-education-centered > .timeline-education-item:nth-child(odd) .timeline-education-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-education-centered > .timeline-education-item:nth-child(even) .timeline-education-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-education-centered > .timeline-education-item:nth-child(even) .timeline-education-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-education-centered > .timeline-education-item.period .timeline-education-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-education-centered .timeline-education-item.period {
    padding: 50px 0 90px;
  }
  .timeline-education-centered .period .timeline-education-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline-education-centered .period .timeline-education-title {
    left: auto;
  }
}

/*----------------------------------------------
    MOD: MARKER OUTLINE
----------------------------------------------*/
.marker-outline .timeline-education-marker:before {
  background: transparent;
  border-color: #FF6B6B;
}
.marker-outline .timeline-education-item:hover .timeline-education-marker:before {
    background: #fffe6b;
}
.timeline-education-title{
  font-size: 22px;
  font-weight: 800;
}
#institucion-right{
  font-size: 16px;
  font-weight: 600;

}
#institucion-left{
  font-size: 16px;
  font-weight: 600;
}
